canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  // width: 100%;
  // height: 100%;
  // display: block;
}
main {
  position: absolute;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}
nav {
  height: 10vh;
  .nav-link {
    color: white;
    mix-blend-mode: difference;
  }
}
