#cv-download {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#about-tree {
  height: 150vh;
  width: 50%;
  color: white;
  li {
    margin: rem;
    padding: 1.4rem;
    color: wheat;
    font-size: clamp(1rem, 2rem, 2rem);
  }
  ul {
    list-style: none;
  }
}
.spotify-playing {
  height: 40vh;
}
