section {
  width: 100vw;
  display: flex;
  align-items: center;
  .form-container {
    padding: 3rem;
    width: 50%;
    h3 {
      color: antiquewhite;
    }
  }
}
.fs-btn-orange-black-rounded-outlined {
  background-color: transparent;
  text-align: center;
  padding: auto;
  height: 60px;
  width: 40%;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  border: 2px solid #ffff88;
  border-radius: 0.7rem;
  color: white;
  mix-blend-mode: difference;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

/* Hover Effect */
.fs-btn-orange-black-rounded-outlined:hover {
  background-color: #ffff88;
  h3 {
    color: #000000;
  }
}
@media screen and (max-width: 800px) {
  .form-container {
    padding: none;
    width: 100vw;
  }
}
