.text-wrapper {
  width: 50%;
  margin: 1.6rem;
}
#hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  color: white;
  h1 {
    font-family: "Cairo Play", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 3rem;
  }
}

#intro {
  div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
}
.intro-text {
  color: antiquewhite;
  font-size: 2rem;
  padding: 2rem;
}
.intro-images {
  img {
    width: 30%;
    border-radius: 20rem;
  }
}

#current {
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  .text-wrapper {
    width: 40%;
    margin: 1rem;
  }
  h1 {
    text-align: left;
    padding: 0.3rem;
  }
  li {
    font-size: 2rem;
  }
}
