
canvas{
  position: fixed;
  top:0;
  left: 0;
  z-index: 0; 
  // width: 100%;
  // height: 100%;
  // display: block;    
}
main{
  position: absolute;
  z-index: 1;   

}
nav{
  height: 10vh;
  .nav-link{
    color: white;
    mix-blend-mode: difference;
  }
}
section{
  height: 100vh;
  width: 100%;
}

#hero{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  color: white;
  .text-wrapper
  {
    width: 50%;
    margin: 1.6rem;
  }
}